<router-outlet></router-outlet> 
<div fxLayout='column' fxLayoutAlign="center center" >
<button style="width: 200px;" mat-raised-button color="warn" (click)="online()">
 Online
  </button>
  <button style="width: 200px;" mat-raised-button color="warn" (click)="auth()">
    Auth
     </button>
     <button style="width: 200px;" mat-raised-button color="warn" (click)="frontscreen()">
      Front Screen
       </button>
       <button style="width: 200px;" mat-raised-button color="warn" (click)=" memberdetails()">
memberdetails         </button>
<button style="width: 200px;" mat-raised-button color="warn" (click)=" myMapDetails ()">
  myMapDetails        </button>
  <button style="width: 200px;" mat-raised-button color="warn" (click)=" profilepage ()">
    profilepage        </button>
    </div>