<div fxLayoutAlign="center center">
<mat-card fxLayout="column" fxLayoutAlign="center center"
  style=" width:500px; margin-top: 100px; height:400px;background-color:palegreen;">
  <div fxLayout="row" style=" margin-left: 15px; ">
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <img [src]="profileUrl | async" alt="profile image" width="200" height="250">


      <div fxLayout="row">
        <div>

          <a href="#" target="_blank"><span class="mdi mdi-instagram"></span></a>
          <a href="#" target="_blank"><span class="mdi mdi-telegram"></span></a>
          <a href="#" target="_blank"><span class="mdi mdi-twitter"></span></a>
          <a href="#" target="_blank"><span class="mdi mdi-gmail"></span></a>
        </div>

      </div>

      <div>MerlinPrathees R</div>
      <input type="file" (change)="uploadFile($event)" />

    </div>

    <div fxLayout="column">
      <form [formGroup]="dateForm"  >
        <mat-form-field  style="width: 200px;">
            <input matInput placeholder= "DOB" [matDatepicker]="birthdatePicker" (click)="datePicker.open()"  
            formControlName="DOB" > {{this.oldDOB?.toDate() | date:'dd-MM-yyyy'}}
          <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
          <mat-datepicker #birthdatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 200px;">
          <input matInput placeholder="Anniv" [matDatepicker]="anniversarydatePicker" (click)="datePicker.open()"
             formControlName="Anniv"  >{{this.oldAnniv?.toDate() | date:'dd-MM-yyyy'}}
          <mat-datepicker-toggle matSuffix [for]="anniversarydatePicker"></mat-datepicker-toggle>
          <mat-datepicker #anniversarydatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width: 200px;">
          <input matInput placeholder= "DOD"  [matDatepicker]="datePicker" (click)="datePicker.open()"
            formControlName="DOD" >{{this.oldDOD?.toDate() | date:'dd-MM-yyyy'}}
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>

        <button class="btn btn-primary" (click)=update() type="submit">Submit</button> 

      </form>

    </div>

  </div>
</mat-card>
</div>



<input type="file" (change)="uploadFile($event)" />
<div>{{ uploadPercent | async }}</div>
<a [href]="downloadURL | async">{{ downloadURL | async }}</a>




{{this.dateRef |async |json}}


